{% extends "layout.html" %}

{% block title %}
    | Home
{% endblock %}

{% block main %}
    <header class="bg-dark facility-header py-5">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-white mb-2">{{ data[0]["facility_name"] }}</h1>
                        <p class="lead fw-normal text-white-50 mb-4">{{ data[0]["facility_address"] }}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="../static/img/heart2.jpeg" alt="..." /></div>
            </div>
        </div>
    </header>
    <div class="container facilities-nav mb-5">
        <div class="shadow p-4 mb-5 bg-white rounded">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarhospital" aria-controls="navbarhospital" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <p>Links & Info For This Location:</p>
                <div class="collapse navbar-collapse" id="navbarhospital">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#our_services">Our Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Patients</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Emergency</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <section class="py-3" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-7 mb-5 mb-lg-0">
                    <div class="shadow p-4 mb-5 bg-white rounded text-center">
                        <b><h2 class="about-us">Impact</h2></b>
                        {{ data[0]["impact"] }}. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium voluptates exercitationem suscipit.
                        Pariatur commodi similique placeat quis odio. Ab excepturi est earum enim illum reiciendis corporis consequatur molestiae reprehenderit dolor.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae tenetur aliquam suscipit repellendus, dolorem fugiat quo vitae quia ut placeat 
                        reiciendis saepe explicabo, amet, veniam sit ipsam esse vero iusto.
                    </div>  
                    <div class="shadow p-4 mb-5 bg-white rounded text-center">
                        <b><h2 class="about-us">About Us</h2></b>
                        {{ data[0]["history"] }}.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium voluptates exercitationem suscipit.
                        Pariatur commodi similique placeat quis odio. Ab excepturi est earum enim illum reiciendis corporis consequatur molestiae reprehenderit dolor.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae tenetur aliquam suscipit repellendus, dolorem fugiat quo vitae quia ut placeat 
                        reiciendis saepe explicabo, amet, veniam sit ipsam esse vero iusto.
                    </div>  
                </div>
                <div class="col-lg-5 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
                        <div class="card-body p-4">
                            <form action="/registration?facility_name={{ data[0]['facility_name'] }}" name="{{ data[0]['facility_name'] }}" method="POST" id="patient">
                                <div class="form-head mb-3">
                                    <h3>Register</h3>
                                    <span>Registration Fee is $2000LD</span>
                                </div>
                                <div class="mb-3">
                                    <label for="number" class="form-label">Mobile Money or Orange Money</label>
                                    <input type="number" class="form-control" id="number" name="number" placeholder="0880786576 / 0770878765" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="password">Account Password</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                                </div>
                                <button class="btn btn-outline-dark" type="submit">Register</button>
                            </form>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                    <div class="small">
                                        <div class="fw-bold">John F. Kennedy Hospital</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container-fluid about-ficility">
        <div class="container about-ficility" id="our_services">
            <b><h1 class="our-service text-center">View Our Services</h1></b>
            <section class="py-2" id="features"> 
                <div class="container px-8" id="services">
                </div>
            </section>
        </div>
    </div>

{% endblock %}