{% extends "layout.html" %}

{% block title %}
    | Home
{% endblock %}

{% block main %}
    <header class="bg-dark facility-header py-5">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-white mb-2">{{ data[0]["facility_name"] }}</h1>
                        <p class="lead fw-normal text-white-50 mb-4">{{ data[0]["facility_address"] }}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="../static/img/heart2.jpeg" alt="..." /></div>
            </div>
        </div>
    </header>
    <div class="container facilities-nav mb-5">
        <div class="shadow p-4 mb-5 bg-white rounded">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <p>Links & Info For This Location:</p>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#">Our Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Patients</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Emergency</a></li>
                        <li>
                            <form class="d-flex" action="/registration" method="POST">
                                <button class="btn nav-link" type="submit">Register</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <section class="py-5" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="shadow p-4 mb-5 bg-white rounded">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam illum esse, sit asperiores quia assumenda? Saepe ad, quae corrupti hic maxime laboriosam necessitatibus distinctio dolore, quis, voluptatibus dignissimos aliquam doloribus. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        <hr>
                        Dolorem nemo officia recusandae omnis? Quaerat cum eos consequuntur perferendis magnam sit atque sunt at, nobis praesentium? Reprehenderit eligendi quidem reiciendis magnam.
                    </div>   
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="shadow p-4 mb-5 bg-white rounded">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam illum esse, sit asperiores quia assumenda? Saepe ad, quae corrupti hic maxime laboriosam necessitatibus distinctio dolore, quis, voluptatibus dignissimos aliquam doloribus. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    </div>   
                </div>
            </div>
        </div>
    </section>

    <div class="container-fluid about-ficility">
        <div class="container">
            <b><h1 class="about-us">About Us</h1></b>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ratione obcaecati molestiae enim harum, accusantium ipsa aliquam ducimus, iste tempora earum iure dignissimos animi, voluptates nesciunt quae doloribus at quasi.</p>
            <ul>
                <li>service</li>
                <li>service</li>
                <li>service</li>
                <li>service</li>
                <li>service</li>
            </ul>
        </div>
        <div class="container about-ficility">
            <b><h1 class="our-service">Our Services</h1></b>
            <section class="py-2" id="features">
                <div class="container px-8">
                    <div class="row gx-5">
                        <div class="col-lg-3 mb-2 mb-lg-3">
                            <div class="card p-2 text-center">
                                <h5 class="card-title">Special title treatment</h5>
                                <div class="card-body">
                                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                </div>
                            </div> 
                        </div>
                        <div class="col-lg-3 mb-2 mb-lg-3">
                            <div class="card p-2 text-center">
                                <h5 class="card-title">Special title treatment</h5>
                                <div class="card-body">
                                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                </div>
                            </div> 
                        </div>
                        <div class="col-lg-3 mb-2 mb-lg-3">
                            <div class="card p-2 text-center">
                                <h5 class="card-title">Special title treatment</h5>
                                <div class="card-body">
                                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                </div>
                            </div> 
                        </div>
                        <div class="col-lg-3 mb-2 mb-lg-3">
                            <div class="card p-2 text-center">
                                <h5 class="card-title">Special title treatment</h5>
                                <div class="card-body">
                                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                </div>
                            </div> 
                        </div>
                        <div class="col-lg-3 mb-2 mb-lg-3">
                            <div class="card p-2 text-center">
                                <h5 class="card-title">Special title treatment</h5>
                                <div class="card-body">
                                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                </div>
                            </div> 
                        </div>
                        <div class="col-lg-3 mb-2 mb-lg-3">
                            <div class="card p-2 text-center">
                                <h5 class="card-title">Special title treatment</h5>
                                <div class="card-body">
                                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                </div>
                            </div> 
                        </div>
                        <div class="col-lg-3 mb-2 mb-lg-3">
                            <div class="card p-2 text-center">
                                <h5 class="card-title">Special title treatment</h5>
                                <div class="card-body">
                                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                </div>
                            </div> 
                        </div>
                        <div class="col-lg-3 mb-2 mb-lg-3">
                            <div class="card p-2 text-center">
                                <h5 class="card-title">Special title treatment</h5>
                                <div class="card-body">
                                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

{% endblock %}