<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm text-center p-5">
                <form class="form-horizontal text-center px-5" action="/services" method="post">
                    <fieldset>
                        <legend class="text-center header">Service</legend>
                        <div class="form-group mb-3">
                            <div class="col-md-12">
                                <input id="service" name="service" type="text" placeholder="Service Name" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <div class="col-md-12">
                                <textarea class="form-control" id="service-text" name="service-discription" placeholder="Enter text that discribes the service." rows="7" required></textarea>
                            </div>
                        </div>

                        <div class="form-group text-left">
                            <div class="col-md-12 text-center">
                            <button class="btn btn-outline-dark" type="submit">Add Service</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>